@use './fonts.scss' as *;

.color-filter-container{

}

.color-filter-container__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  margin: 0;
  padding: 0;
  list-style: none;

}

.color-filter-container__item{
  list-style: none;
}

.color-filter-container__title{
  margin-bottom: 15px;
}

.color-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.color-icon__input {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.color-icon__input:checked ~ div {
  box-shadow: #00ffff91 0 0 6px 2px;
}

.color-icon__color {
  content: "";
  width: 25px;
  height: 25px;
}