@use './fonts.scss' as *;
@use './colors.scss' as *;
@use './welcome.scss' as *;

.filters-container {
  padding-left: 40px;
  width: 446px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding-bottom: 100px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.search-container__title {
 
}

.search-container__input {
  @include text;
  @include blue-card;
  padding: 17px;
  padding-left: 24px;
  width: 254px;
  height: 36px;
  background: linear-gradient($input-bgr-color, $input-bgr-color), url('./assets/svg/search.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center center, 213px center;
  background-size: cover, 24px 24px;
  outline: 0;
}

.search-container__input::placeholder {
  @include text;
}

.slider-container {
  width: 90%;
  margin-bottom: 30px;
}

.slider-container__title {
  margin-bottom: 15px;
}

.filters-container__categories {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 110px;
  flex-wrap: wrap;
}

.filters-container__categories__title {
  @include micro-text;
  margin-left: 5px;
}

.filters-container__categories li {
  margin-right: 20px;
}

.categories-container__title {
  margin-bottom: 15px;
}

.button-reset-filters {
  @include text;
  @include blue-card;
  padding: 0;
  width: 254px;
  height: 36px;
  cursor: pointer;
}