$header-font: 'Neucha', cursive;
$base-font: 'Raleway', sans-serif;

@mixin headers-font {
  font-family: $header-font;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin welcome-font {
  @include headers-font;
  font-size: 53px;
  line-height: 58px;
}

@mixin h1-font {
  @include headers-font;
  font-size: 42px;
  line-height: 46px;  
}

.h2-font {
  @include headers-font;
  font-size: 20px;
  line-height: 22px;
}

@mixin h3-font {
  @include headers-font;
  font-size: 18px;
  line-height: 20px;
}

@mixin text-font {
  font-family: $base-font;
  color: white;
  font-weight: 400;
}

@mixin _welcome_btn_font {
  @include text-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

@mixin h4-font {
  @include text-font;
  font-size: 18px;
  line-height: 22px;
}

.h4-font {
  @include h4-font;
}



@mixin text {
  @include text-font;
  font-size: 16px;
  line-height: 19px;
}

@mixin micro-text {
  @include text-font;
  font-size: 13px;
  line-height: 15px;
}