$header-font: 'Neucha', cursive;
$base-font: 'Raleway', sans-serif;

@mixin _headers_font {
  font-family: $header-font;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin _welcome {
  @include _headers_font;
  font-size: 53px;
  line-height: 58px;
}

@mixin _h1 {
  @include _headers_font;
  font-size: 42px;
  line-height: 46px;  
}

@mixin _h2 {
  @include _headers_font;
  font-size: 20px;
  line-height: 22px;
}

@mixin _h3 {
  @include _headers_font;
  font-size: 18px;
  line-height: 20px;
}

@mixin _text_font {
  font-family: $base-font;
  color: white;
  font-weight: 400;
}

@mixin _welcome_btn_font {
  @include _text_font;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

@mixin _h4 {
  @include _text_font;
  font-size: 18px;
  line-height: 22px;
}

@mixin _text {
  @include _text_font;
  font-size: 16px;
  line-height: 19px;
}