@use './colors.scss' as *;

.footer {
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 84px;
  padding-right: 84px;
  background-color: $bgr-color;
}

.footer__logo-container {
  display: block;
  width: 234px;
  height: 87px;
}

.footer__logo-image {
  width: 100%;
  height: auto;
}
.footer__author a{
 text-decoration: none;
 color: $font-color;
 background-image: url('./assets/svg/ball.svg');
}

