@use './fonts.scss' as *;

.shape-filter-container{

}

.shape-filter-container__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  margin: 0;
  padding: 0;
  list-style: none;

}

.shape-filter-container__item{
  list-style: none;
}

.shape-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.shape-icon__input {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.shape-icon__image{
  width: 35px;
  height: 35px;
  opacity: 40%;
}

.shape-icon__input:checked ~ img {
  opacity: 100%;
}

.shape-icon__title {
  @include micro-text;
}