@use './fonts.scss' as *;

.toy-info-card {
  width: 262px;
  height: 374;
  padding: 26px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.toy-info-card__title {
  @include h3-font;
}

.toy-info-card__img {
  height: 86px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toy-info-card__prop {
  @include text;
}