@use './general.scss' as *;
@use './fonts.scss' as *;

@mixin blue-card {
  /*background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);*/
  background-color: rgba(36, 197, 219, 0.15);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
  border: 2px solid rgba(34, 153, 235, 0.92);
}

.welcome-container {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: calc(50vh - 50px - 125px);
}

.welcome-container__header {
  @include blue-card;
  @include _welcome;

  width: 593px;
  height: 249px;
  
  word-wrap: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 65px;
}

.welcome-container__start-button {
  @include blue-card;

  display: block;
  width: 320px;
  height: 54px;
  left: 800px;
  top: 750px;

  font-family: $base-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  text-align: center;

  color: #FFFFFF;
  margin-top: calc(25vh - 25px - 62px - 27px);
  margin-left: auto;
  margin-right: auto;


}