.decoration-space-container {
  flex-grow: 1;
  position: relative;
  max-width: 1095px;
  height: calc(100vh - 200px);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.decoration-space__tree {
  height: 67%;
  margin-bottom: 20px;
}