.decoration-space-container {
  position: relative;
  width: 500px;
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.decoration-space__tree {
  position: absolute;
}