@use './fonts.scss' as *;

.app-header {
  width: 100%;
  height: 100px;
  padding-left: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.app-header__left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
}

.app-header__logo-container {
  width: 50px;
}

.app-header__logo-container img {
  width: 100%;
  display: inline-flex;
  align-items: center;
  height: 100px;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;

}

.main-menu__item {
  margin: auto 0;
}

.main-menu__link {
  @include h1-font;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
