.bgrs-card-label{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
}

.bgrs-card-label__input {

}

.bgrs-card-label__image {
  display: block;
  height: 100%;
  width: auto;
}