.trees-card-label{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 134px;
}

.trees-card-label__input {

}

.trees-card-label__image {
  display: block;
  height: 90%;
  width: auto;
}