@use './fonts.scss' as *;

.toy-decor-card {
  position: relative;
  width: 80px;
  height: 80px;
}

.toy-decor-card__image {
  position: absolute;
  width: 60px;
  height: auto;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.toy-decor-card__number-left {
  @include text;
  position: absolute;
  z-index: 11;
  right: 5px;
  bottom: 5px;
  width: 22px;
  height: 19px;
  border-radius: 10px;
  background-color: #24c5db;
  text-align: center;
}
