.toys-main {
  display: grid;
  grid-template-columns: max-content 1fr;

}

.toys-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 22px;
  overflow-y: scroll;
  max-height: 90vh;
  padding-bottom: 100px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.toys-container::-webkit-scrollbar {
  display: none;
}
